.container{
	background-color: #0A22F4;
	overflow: hidden;
}
header{
	max-width: 1200px;
	width: 100%;
	padding-top: 40px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.navbar-ul{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.navbar-ul .navbar-li{
	padding-left: 43px;
}
.navbar{
	display: flex;
	align-items: center;
}
.white{
	color: #FFFFFF;
}
.contact{
	color: #171717;
	padding: 15px 30px;
	background-color: #FFFFFF;
}
.img-container{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 110px;
	width: 100%;
}
.img-container img{
	width: 500px;
	height: 400px;
	align-items: center;
}
.image-left{
	transform: translateX(-120px);
}
.image-right{
	transform: translateX(120px);
}
.image-center{
	transform: translateY(-60px);
}


