.container{
	width: 100%;
	height: 100vh;
	background-color: #0A22F4;
}
header{
	max-width: 1200px;
	width: 100%;
	padding-top: 40px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.navbar-ul{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.navbar-ul .navbar-li{
	padding-left: 43px;
}
.navbar{
	display: flex;
	align-items: center;
}
.white{
	color: #FFFFFF;
}
.contact{
	color: #171717;
	padding: 15px 30px;
	background-color: #FFFFFF;
}



