.container{
	background-color: #0A22F4;
	overflow-x: hidden;
}
header{
	max-width: 1200px;
	width: 100%;
	padding-top: 40px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.navbar{
	display: flex;
	align-items: center;
}
.navbar-ul{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.navbar-ul .navbar-li{
	padding-left: 43px;
}
.white{
	color: #FFFFFF;
}
.contact{
	color: #171717;
	padding: 15px 30px;
	background-color: #FFFFFF;
}
.img-container{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 130px;
}
.img-container img{
	width: 500px;
	height: 400px;
}
.image-left{
	transform: translateX(-120px);
}
.image-center{
	transform: translateY(-100px);
}
.image-right{
	transform: translateX(120px);
}
.scroll{
	overflow-y: hidden;
	margin: 0 auto;
	width: 150px;
	transform: translateX(20px);
}
.scroll .ellipse{
	width: 100px;
	transform: translateY(65px);
}
.scroll .mouse{
	width: 15px;
	transform: translate(-60px, -8px);
}

